extends layout

block head
  script(src="https://code.jquery.com/jquery-3.3.1.min.js",
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
    crossorigin="anonymous")
  script(src="javascripts/makeOrder.js")
  //link(rel='stylesheet', href='/stylesheets/style.css')

block content
  button(id="makeOrder") make order
  p(id="data", hidden="true") data:
    //strong(id="hs")
    //strong(id="rs")
    //strong(id="cs")
    strong(id="time")
  div(id="prices")
    include table
  div(id="timeTable")
    include timeTable