//extends layout

block table
    p Haircut services
    table(style='width:100%', border='1', class="tHS")
        tr
            th Type
            th Price
            th Add to order
        tr(id="hs1")
            td Shampoo + Haircut + Hot Towel
            td $25.95
            td
                input(type="radio", name="hs")
        tr(id="hs2")
            td Long Layered Cut
            td $25.95
            td
                input(type="radio", name="hs")
        tr(id="hs3")
            td Regular Haircut
            td $22.95
            td
                input(type="radio", name="hs")
        tr(id="hs4")
            td Fade + Hot Towel
            td $22.95
            td
                input(type="radio", name="hs")
        tr(id="hs5")
            td Children’s Haircut
            td $19.95
            td
                input(type="radio", name="hs")
        tr(id="hs6")
            td Senior Citizen Haircut + Hot Towel
            td $19.95
            td
                input(type="radio", name="hs")
        tr(id="hs7")
            td Crew Cut + Shape-Up
            td $22.95
            td
                input(type="radio", name="hs")
        tr(id="hs8")
            td Crew Cut + Hot Towel
            td $19.95
            td
                input(type="radio", name="hs")

    p Razorblades services
    table(style='width:100%', border='1', class="tRS")
        tr
            th Type
            th Price
            th Add to order
        tr(id="rs1")
            td Shave
            td $24.95
            td
                input(type="radio", name="rs")
        tr(id="rs2")
            td Beard Trim
            td $11.95
            td
                input(type="radio", name="rs")
        tr(id="rs3")
            td Beard Trim with Razor
            td $12.95
            td
                input(type="radio", name="rs")
        tr(id="rs4")
            td Clean-Up
            td $11.95
            td
                input(type="radio", name="rs")
        tr(id="rs5")
            td Goatee Beard
            td $8.95
            td
                input(type="radio", name="rs")

    p Color services
    table(style='width:100%', border='1', class="tCS")
        tr
            th Type
            th Price
        tr(id="cs1")
            td Color
            td $45
            td
                input(type="radio", name="cs")