.inputDiv {
	position: relative;
	width: 60%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: #ADD8E6;
	border-radius: 50px;
}

.inputLabelDiv{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	text-align: center;
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: 'Indie Flower', cursive;
	font-size: 125%;
	/*background: linear-gradient(to bottom, , #9ACEEB);*/
	
}

.swypeInput{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	background: linear-gradient(to top, #9ACEEB, #ADD8E6);
	border-radius: 50px;
}

.swypeInputTextBox{
	position: relative;
	width: 80%;
	font-weight: 50%;
	font-size: 125%;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top: 1%;
	border-radius: 5px;
	border-width: 1px;
	padding-left: 2%;
}